[Unit]
Description=Authentication service for virtual machines hosted on VMware
Documentation=http://github.com/vmware/open-vm-tools
ConditionVirtualization=vmware
PartOf=open-vm-tools.service

[Service]
ExecStart=/usr/local/bin/VGAuthService
TimeoutStopSec=5

[Install]
RequiredBy=open-vm-tools.service