export GOPATH=$PWD
export BOSH_BINARY_PATH=$(command -v bosh)
# export STEMCELL_PATH=~/deployments/stemcells/bosh-stemcell-308-warden-boshlite-ubuntu-xenial-go_agent.tgz
# export SYSLOG_RELEASE_PATH=~/deployments/releases/syslog-release-11.4.0.tgz
# export OS_CONF_RELEASE_PATH=~/deployments/releases/os-conf-release-20.0.0.tgz
export BOSH_os_name=ubuntu-xenial
# export BOSH_stemcell_version=308
# source_env ~/deployments/vbox/
