export GOPATH=$PWD

# update and uncomment on release branches
#export RELEASE_BRANCH=3468.x

# update and uncomment for single stemcell release branches (such as xenial)
#export RELEASE_BRANCH=xenial-1.x
#export STEMCELL_OS=ubuntu
#export STEMCELL_OS_VERSION=xenial
#export INITIAL_STEMCELL_VERSION=1.95.0  # optional
