.DS_Store
.idea/
.vscode

**/*.log
**/*.test

stemcell_builder/stages/*/assets/settings.bash
stemcell_builder/public_stemcell_config.yml

acceptance-tests/stemcell
acceptance-tests/syslog-release
acceptance-tests/os-conf-release

ci/docker/os-image-stemcell-builder/VMware-ovftool-*.bundle
ci/docker/VMware-ovftool-*.bundle
ci/docker/*/VMware-ovftool-*.bundle

tmp/
