.DS_Store
**/*.test
.idea/
.vscode

stemcell_builder/stages/*/assets/settings.bash
stemcell_builder/public_stemcell_config.yml

acceptance-tests/stemcell
acceptance-tests/syslog-release
acceptance-tests/os-conf-release

**/*.log
tmp/

ci/docker/VMware-ovftool-*.bundle
ci/docker/*/VMware-ovftool-*.bundle
