.DS_Store
.vagrant/
/out/*
tmp/
pkg/
**/*.test
.idea/
*.iml
stemcell_builder/stages/*/assets/settings.bash
stemcell_builder/public_stemcell_config.yml
src/github.com/cloudfoundry/stemcell-acceptance-tests/stemcell
src/github.com/cloudfoundry/stemcell-acceptance-tests/syslog-release
