# Azure VMs with accelerated networking may have MANA, mlx4, or mlx5 SR-IOV
# devices which are transparently bonded to a synthetic hv_netvsc device.
#
# 10-azure-unmanaged-sriov.rules will mark these devices with
# AZURE_UNMANAGED_SRIOV=1, allowing this configuration to set them as unmanaged.

[Match]
Property=AZURE_UNMANAGED_SRIOV=1

[Link]
Unmanaged=yes