# Azure VMs with accelerated networking may have MANA, mlx4, or mlx5 SR-IOV devices
# which are transparently bonded to a synthetic hv_netvsc device.
#
# Mark devices with the IFF_SLAVE bit set as unmanaged devices:
#   AZURE_UNMANAGED_SRIOV=1:     Custom tag to mark the interface as unmanaged in systemd-networkd (01-azure-sriov-unmanaged.network).
#   ID_NET_MANAGED_BY=unmanaged: Standard tag for systemd-networkd (v255+).
#   NM_UNMANAGED=1:              Tells NetworkManager to ignore the interface.
#
# Additionally, set an ifalias to allow the bosh-agent to ignore the device, as both
# interfaces, the synthetic and the VF interface, share the same MAC address and only
# the synthetic interface should be used by the application.

SUBSYSTEM=="net", ACTION!="remove", KERNEL!="lo", \
    DRIVERS=="mana|mlx4_core|mlx5_core", \
    ATTR{flags}=="0x?[89ABCDEF]*", \
    ENV{AZURE_UNMANAGED_SRIOV}="1", \
    ENV{ID_NET_MANAGED_BY}="unmanaged", \
    ENV{NM_UNMANAGED}="1", \
    ATTR{ifalias}="sriov-vf"
