#
# NOTE:
#   This file hosted on WALinuxAgent repository only for reference purposes.
#   Please refer to a recent image to find out the up-to-date systemd unit file.
#

[Unit]
Description=Azure Linux Agent

After=network-online.target
Wants=network-online.target ssh.service sshd-keygen.service

ConditionFileIsExecutable=/usr/sbin/waagent
ConditionPathExists=/etc/waagent.conf

[Service]
Type=simple
# stemcells on Azure re-generate the SSH Hostkey upon first reboot
# waagent has to wait until the file was recreated
ExecStartPre=/bin/bash -c "while [ ! -f /root/firstboot_done ]; do sleep 1; done"
ExecStart=/usr/bin/python3 -u /usr/sbin/waagent -daemon
Restart=always
Slice=azure.slice
CPUAccounting=yes

[Install]
WantedBy=multi-user.target
